<article class="hike">
  <div class="hike-image">
    <img src="{{image}}" alt="{{name}}"></i>
  </div>
  <div class="hike-content">
    <p class="hike-name">
      {{name}}
    </p>
	<p class="hike-text">
	  {{text}}
    </p>
    <p class="hike-attribution">
      <a href="#">{{author}}</a>
    </p>
  </div>
</article>